In [2]:
# Assignment operator (=)
x = 55   # Assigning the value 5 to the variable x

# Equality operator (==)
y = 10
z = 52

# Check if y is equal to z
if y == z:
    print("y and z are equal")
else:
    print("y and z are not equal")

y and z are not equal

In [4]:
# Integer variable
int = 11

# Floating-point variable
float = 7.14

# String variable
string = "Hello, World!"

# Boolean variable
boolean = True

# Printing the variables to verify their types
print("Integer Variable:", int, "Type:", type(int))
print("Floating-point Variable:", float, "Type:", type(float))
print("String Variable:", string, "Type:", type(string))
print("Boolean Variable:", boolean, "Type:", type(boolean))

Integer Variable: 11 Type: <class 'int'>
Floating-point Variable: 7.14 Type: <class 'float'>
String Variable: Hello, World! Type: <class 'str'>
Boolean Variable: True Type: <class 'bool'>

In [8]:
# Valid variable names
my_variable = 10
myVariable = 20
my_variable2 = 30
_my_variable = 40
MY_VARIABLE = 50

# Variable names with special characters and numbers
my_variablee = 60
my_variable1 = 70
my_variable3 = 80
variable123 = 90
_variable_ = 100

# Printing the values of variables
print("my_variable:", my_variable)
print("myVariable:", myVariable)
print("my_variable2:", my_variable2)
print("_my_variable:", _my_variable)
print("MY_VARIABLE:", MY_VARIABLE)

print("my_variable:", my_variablee)
print("my variable:", my_variable1)
print("my_variable3:", my_variable3)
print("variable123:", variable123)
print("_variable_:", _variable_)

my_variable: 10
myVariable: 20
my_variable2: 30
_my_variable: 40
MY_VARIABLE: 50
my_variable: 60
my variable: 70
my_variable3: 80
variable123: 90
_variable_: 100

In [12]:
#  variable with multiple values
x, y, z = 10, 20, 30
name1, name2, name3 = "Ali", "Bobby", "PAF"

# Multiple variables with single values
a = b = c = 5
age, height, weight = 25, 180, 75

# Printing variables 
print("Assigning variable with multiple values:")
print("x:", x, "y:", y, "z:", z)
print("name1:", name1, "name2:", name2, "name3:", name3)

print("\nMultiple variables with single values:")
print("a:", a, "b:", b, "c:", c)
print("age:", age, "height:", height, "weight:", weight)

Assigning variable with multiple values:
x: 10 y: 20 z: 30
name1: Ali name2: Bobby name3: PAF

Multiple variables with single values:
a: 5 b: 5 c: 5
age: 25 height: 180 weight: 75

In [13]:
# Integers
a = 10
b = 5

# Floating-point numbers
x = 3.5
y = 2.0

# Arithmetic operations on integers
add = a + b
subt = a - b
multipl = a * b
divi = a / b

# Arithmetic operations on floating-point numbers
add_float = x + y
subt_float = x - y
multip_float = x * y
div_float = x / y

# Printing results
print("Arithmetic operations on integers:")
print("Addition:", add)
print("Subtraction:", subt)
print("Multiplication:", multipl)
print("Division:", div_float)
print("Division:", divi)

print("\nArithmetic operations on floating-point numbers:")
print("Addition:", add_float)
print("Subtraction:", subt_float)
print("Multiplication:", multip_float)

Arithmetic operations on integers:
Addition: 15
Subtraction: 5
Multiplication: 50
Division: 1.75
Division: 2.0

Arithmetic operations on floating-point numbers:
Addition: 5.5
Subtraction: 1.5
Multiplication: 7.0

In [14]:
# Using single quotes
single_string = 'Hello, world!'

# Using double quotes
double_string = "Hello, world!"

# Using double quotes when the string contains a single quote
double_quotes_single_quote = "She said, 'Hello!'"

# Using single quotes when the string contains double quotes
single_quotes_double_quotes = 'He replied, "Hi!"'

# Printing the strings
print(single_string)
print(double_string)
print(double_quotes_single_quote)
print(single_quotes_double_quotes)

Hello, world!
Hello, world!
She said, 'Hello!'
He replied, "Hi!"

In [16]:
# Example of using the print() function to output a variable
name = "Ali"
print(name)

# Example of outputting multiple variables with print()
age = 22
city = "New York"
print("Name:", name, "Age:", age, "City:", city)

# Example of using f-strings to format output
print(f"Name: {name}, Age: {age}, City: {city}")

# Example of using f-strings to manipulate variables in output
result = 11
print(f"The result multiplied is: {result * 7}")

Ali
Name: Ali Age: 22 City: New York
Name: Ali, Age: 22, City: New York
The result multiplied is: 77