Lab 2 and 3:


Programming For Artificial Intelligence:

TOPICS:

DATATYPES AND TYPE CONVERSION

TASK:1.

	Print at least 5 types of data type

In [1]:
# First set of values
int_var = 10
float_var = 3.14
str_var = "Hello"

# Print first set of values and their types
print("First set of values:")
print("Integer Variable:", int_var, ", Type:", type(int_var))
print("Float Variable:", float_var, ", Type:", type(float_var))
print("String Variable:", str_var, ", Type:", type(str_var))

# Second set of values
int_var = 20
float_var = 6.28
str_var = "World"

# Print second set of values and their types
print("\nSecond set of values:")
print("Integer Variable:", int_var, ", Type:", type(int_var))
print("Float Variable:", float_var, ", Type:", type(float_var))
print("String Variable:", str_var, ", Type:", type(str_var))
# Third set of values
int_var3 = 10
float_var3 = 3.14
str_var3 = "Hello"

# Print Third set of values and their types
print("\nThird set of values:")
print("Integer Variable 1:", int_var3, ", Type:", type(int_var3))
print("Float Variable 1:", float_var3, ", Type:", type(float_var3))
print("String Variable 1:", str_var3, ", Type:", type(str_var3))

# fourth set of values
int_var4 = 20
float_var4 = 6.28
str_var4 = "World"

# Print fourth set of values and their types
print("\nFourth set of values:")
print("Integer Variable 2:", int_var4, ", Type:", type(int_var4))
print("Float Variable 2:", float_var4, ", Type:", type(float_var4))
print("String Variable 2:", str_var4, ", Type:", type(str_var4))

# Fifth set of values
int_var5 = 30
float_var5 = 9.99
str_var5 = "Python"

# Print fifth set of values and their types
print("\nFifth set of values:")
print("Integer Variable 3:", int_var5, ", Type:", type(int_var5))
print("Float Variable 3:", float_var5, ", Type:", type(float_var5))
print("String Variable 3:", str_var5, ", Type:", type(str_var5))

First set of values:
Integer Variable: 10 , Type: <class 'int'>
Float Variable: 3.14 , Type: <class 'float'>
String Variable: Hello , Type: <class 'str'>

Second set of values:
Integer Variable: 20 , Type: <class 'int'>
Float Variable: 6.28 , Type: <class 'float'>
String Variable: World , Type: <class 'str'>

Third set of values:
Integer Variable 1: 10 , Type: <class 'int'>
Float Variable 1: 3.14 , Type: <class 'float'>
String Variable 1: Hello , Type: <class 'str'>

Fourth set of values:
Integer Variable 2: 20 , Type: <class 'int'>
Float Variable 2: 6.28 , Type: <class 'float'>
String Variable 2: World , Type: <class 'str'>

Fifth set of values:
Integer Variable 3: 30 , Type: <class 'int'>
Float Variable 3: 9.99 , Type: <class 'float'>
String Variable 3: Python , Type: <class 'str'>

Code 1 Explanation:
This program defines three sets of variables (each consisting of an integer, a float, and a string), assigns values to them, and then prints each variable's value along with its type.

TASK:2


2.	Write example of type conversion for each ( minimum 3)

In [2]:
# Example of type conversion for int variable
int_var = 10
print("Integer Variable (Original):", int_var)
int_var = float(int_var)
print("Integer to Float Conversion:", int_var)
int_var = complex(int_var)
print("Float to Complex Conversion:", int_var)

# Example of type conversion for float variable
float_var = 3.14
print("\nFloat Variable (Original):", float_var)
float_var = int(float_var)
print("Float to Integer Conversion:", float_var)
float_var = complex(float_var)
print("Integer to Complex Conversion:", float_var)

# Example of type conversion for complex variable
complex_var = 2 + 3j
print("\nComplex Variable (Original):", complex_var)
complex_var = int(complex_var.real)
print("Real Part to Integer Conversion:", complex_var)
complex_var = float(complex_var)
print("Integer to Float Conversion:", complex_var)

Integer Variable (Original): 10
Integer to Float Conversion: 10.0
Float to Complex Conversion: (10+0j)

Float Variable (Original): 3.14
Float to Integer Conversion: 3
Integer to Complex Conversion: (3+0j)

Complex Variable (Original): (2+3j)
Real Part to Integer Conversion: 2
Integer to Float Conversion: 2.0

Code 2 Explanation:
For the integer variable, we convert it to float and then to complex.
For the float variable, we convert it to an integer and then to complex.
For the complex variable, we extract the real part as an integer, convert it back to a float, and then to an integer

Task:3 
3.	Assign multiple strings to single variable with your name , registration number, program , semester etc

In [3]:
# Assigning multiple strings to a single variable
student_info = '''
Name: Muhammad Abdullah, 
Registration Number: B22F0577AI054,
Program: AI, 
Semester: 4th
'''

# Print the variable value
print(student_info)

Name: Muhammad Abdullah,
Registration Number: B22F0577AI054,
Program: AI,
Semester: 4th

Task:3 Explanation
We define a variable student_info and assign it a string containing your name, registration number, program, and semester.

Then, we print the value of the student_info variable

Task:4
4.	Write Your country name and access the last 3 characters

In [4]:
# Define the country name
country_name = "ISLAMIC REPUBLIC OF PAKISTAN"

# Access the last 3 characters
last3 = country_name[-3:]

# Print the last 3 characters
print("Last 3 characters of the country name is:", last3)

Last 3 characters of the country name is: TAN

Task: 4 Explanation
In this program, we use slicing to access the last 3 characters of the string country_name. 
We use [-3:] to specify that we want to start from the third character from the end (inclusive) and go till the end of the string

Task 5:
5.	Write code and observe using len() function it count space or not

In [5]:
# Define a string with spaces
a = " MUHAMMAD ABDULLAH "

# Print the length of the string
print("Length of the string:", len(a))

Length of the string: 19

TASK:5 EXPLANATION

This demonstrates that the len() function counts spaces as characters in a string.
 In this case, the string a contains space character, and len(a) returns 19 it is also counting space.

TASK:6

This demonstrates that the len() function counts spaces as characters in a string. In this case, the string a contains only one space character, and len(a) returns 1.

In [6]:
# Define the name
name = "MUHAMMAD ABDULLAH"

# Access the 2nd and 3rd characters using negative indexes
second = name[-14]
third = name[-13]

# Print the 2nd and 3rd characters
print("2nd character of the name:", second)
print("3rd character of the name:", third)

2nd character of the name: A
3rd character of the name: M

TASK 6 EXPLANATION:

In this code, we use negative indexes to access characters from the end of the string. -14 corresponds to the 2nd character from the end, and -13 corresponds to the 3rd character from the end.

TASK:7

7.	Write python code in which you pass index number to format() function and arguments must be 4 and same code without indexes.

In [7]:
# Using format() function with index numbers
format_index = "{3} {2} {1} {0}".format(1, 2, 3, 4)
print("Formatted with index numbers:", format_index)

# Without using index numbers
format = "{} {} {} {}".format(1, 2, 3, 4)
print("Formatted without index numbers:", format)

Formatted with index numbers: 4 3 2 1
Formatted without index numbers: 1 2 3 4

TASK:7 EXPLANATION

The first line uses the format() function with index numbers {0}, {1}, {2}, and {3} to specify the positions of the arguments.
The second line uses the format() function without index numbers. 
In this case, the arguments are automatically assigned positions based on their order in the format() function.

TASK:8 

8.	Take input from user and  than display it like “John age is: age”

In [8]:
# Take input from the user
name = input("Enter your name: ")
age = input("Enter your age: ")

# Display the input in the specified format using string concatenation
print(name + " age is: " + age)

TASK:8 EXPLANATION

we use string concatenation to combine the user's name, the string " age is: ", and the user's age into a single string, which is then printed to the console.