1.	Access List Items:
•	Create a list of fruits.
•	Print the first and last items of the list.

In [78]:

fruits = ["Apple", "Banana", "Orange", "Mango", "Grapes"]

# Print the first item of the list
print("First item of the list:", fruits[-5])

# Print the last item of the list
print("Last item of the list:", fruits[-1])

First item of the list: Apple
Last item of the list: Grapes

2.	Change List Items:
•	Create a list of colors.
•	Change the second item in the list to "blue".

In [178]:

colors = ["Red", "Green", "Yellow", "Orange"]

# Print the original list of colors
print("Original list :", colors)

# Change the second item to "blue"
colors[1] = "Blue"

# Print the modified list of colors
print("Modified list of colors:", colors)

Original list : ['Red', 'Green', 'Yellow', 'Orange']
Modified list of colors: ['Red', 'Blue', 'Yellow', 'Orange']

3.	Add List Items:
•	Create a list of numbers.
•	Add the number 10 at the end of the list.

In [179]:

numbers = [11, 2, 3, 44, 5]

# Print the original list of numbers
print("Original list of numbers:", numbers)

# Add the number 10 at the end of the list
numbers.append(10)

# Print the modified list of numbers
print("Modified list of numbers:", numbers)

Original list of numbers: [11, 2, 3, 44, 5]
Modified list of numbers: [11, 2, 3, 44, 5, 10]

4.	Remove List Items:
•	Create a list of animals.
•	Remove the third item from the list.

In [180]:

animals = ["Dog", "Cat", "Rabbit", "Elephant", "Lion"]

# Print the original list of animals
print("Original list of animals:", animals)

# Remove third item from list
del animals[-3]

# Print the modified list of animals

print("Modified list of animals:", animals)

Original list of animals: ['Dog', 'Cat', 'Rabbit', 'Elephant', 'Lion']
Modified list of animals: ['Dog', 'Cat', 'Elephant', 'Lion']

5.	Loop Lists:
•	Create a list of cities.
•	Loop through the list and print each city.

In [181]:

cities = ["New York", "London", "Jaddah", "Islamabad", "Sydney"]

# Loop through the list 
print("List of cities:")
for city in cities:
    print(city)

List of cities:
New York
London
Jaddah
Islamabad
Sydney

6.	List Comprehension:
•	Create a list of numbers from 1 to 10.
•	Use list comprehension to create a new list containing the square of each number.

In [182]:

numbers = [11, 2, 3, 0, 5, 12, 7, 8, 9, 10]
print("Original list",numbers)
# Use list comprehension to create a new list containing the square of each number by using for loop
squared_numbers = [num ** 2 for num in numbers]
# Print the new list containing the square of each number
print("List of numbers squared:", squared_numbers)
# Step 1: Create a list of numbers from 1 to 10
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Original list [11, 2, 3, 0, 5, 12, 7, 8, 9, 10]
List of numbers squared: [121, 4, 9, 0, 25, 144, 49, 64, 81, 100]

7.	Sort Lists:
•	Create a list of names.
•	Sort the list alphabetically.

In [183]:

names = ["Ali", "Usman", "Ahmed", "Uzair", "MABS"]

# Sort the list alphabetically
sorted_names = sorted(names)

# Print the original list of names
print("Original list of names:", names)

# Print the sorted list of names
print("Sorted list of names:", sorted_names)

Original list of names: ['Ali', 'Usman', 'Ahmed', 'Uzair', 'MABS']
Sorted list of names: ['Ahmed', 'Ali', 'MABS', 'Usman', 'Uzair']

8.	Copy Lists:
•	Create a list of fruits.
•	Copy the list into a new list.

In [184]:

fruits = ["Apple", "Banana", "Orange", "Mango", "Grapes"]

# Copy the list into a new list using slicing
copied_fruits = fruits[0:5]

# Print both lists
print("Original list of fruits:", fruits)
print("Copied list of fruits:", copied_fruits)

Original list of fruits: ['Apple', 'Banana', 'Orange', 'Mango', 'Grapes']
Copied list of fruits: ['Apple', 'Banana', 'Orange', 'Mango', 'Grapes']

9.	Join Lists:
•	Create two lists of numbers.
•	Join the two lists into a single list.

In [185]:

list1 = [11, 2, 3]
list2 = [4, 15, 6]

# Join the two lists into a single list 
list = list1 + list2

# Print the joined list
print("Joined list:", list)

Joined list: [11, 2, 3, 4, 15, 6]

10.	List Methods:
•	Create a list of fruits.
•	Use the append() method to add a new fruit to the list.
•	Use the pop() method to remove the last fruit from the list.

In [186]:

fruits = ["Apple", "Banana", "Orange", "Mango"]

# Print the original list of fruits
print("Original list of fruits:", fruits)

# append() method to add a new fruit to the list
fruits.append("Grapes")

# Print the list after adding a new fruit
print("List of fruits after adding 'Grapes':", fruits)

#  pop() method to remove the last fruit from the list
fruit = fruits.pop()

# Print the removed fruit and the updated list of fruits
print("Removed fruit:", fruit)
print("List of fruits after removing the last one:", fruits)

Original list of fruits: ['Apple', 'Banana', 'Orange', 'Mango']
List of fruits after adding 'Grapes': ['Apple', 'Banana', 'Orange', 'Mango', 'Grapes']
Removed fruit: Grapes
List of fruits after removing the last one: ['Apple', 'Banana', 'Orange', 'Mango']

11.	Combining Lists and List Comprehension:

•	Create two lists, one containing numbers from 1 to 5 and another containing numbers from 6 to 10.
•	Use list comprehension to create a new list that contains the sum of corresponding elements from the two lists.

In [200]:

list1 = [1, 2, 3, 4, 5]
list2 = [6, 7, 8, 9, 10]

# list comprehension to create a new list containing the sum of  elements
sum_list = [x + y for x, y in zip(list1, list2)]

# Print the original lists and the new list with the sums
print("List 1:", list1)
print("List 2:", list2)
print("List containing the sum of  elements:", sum_list)

List 1: [1, 2, 3, 4, 5]
List 2: [6, 7, 8, 9, 10]
List containing the sum of  elements: [7, 9, 11, 13, 15]

12.	Filtering and Sorting:
Create a list of numbers.
•	Use list comprehension to create a new list containing only the even numbers from the original list.
•	Sort the new list in descending order.

In [201]:

nums = [23, 4, 17, 8, 12, 31, 10, 6]

# list comprehension to create a new list containing only the even numbers
even_numbers = [num for num in nums if num % 2 == 0]

# Sort the new list in descending order
even_numbers.sort(reverse=True)

# Print the original list 
print("Original list of numbers:", nums)

# Print the new list containing only even numbers sorted in descending order
print("Even numbers in descending order:", even_numbers)

Original list of numbers: [23, 4, 17, 8, 12, 31, 10, 6]
Even numbers in descending order: [12, 10, 8, 6, 4]

13.	Combining Lists and List Methods:
•	Create two lists, one containing even numbers and another containing odd numbers.
•	Use list methods to combine the two lists into a single list, alternating between even and odd numbers.

In [202]:

even_numbers = [2, 4, 6, 8, 10]
odd_numbers = [1, 3, 5, 7, 9]

# Initialize an empty list to store the combined list
combined_list = []

# Use list methods to combine the two lists alternating between even and odd numbers
for even, odd in zip(even_numbers, odd_numbers):
    combined_list.append(even)
    combined_list.append(odd)

# Print the combined list
print("Combined list alternating between even and odd numbers:", combined_list)

Combined list alternating between even and odd numbers: [2, 1, 4, 3, 6, 5, 8, 7, 10, 9]

14.	List Slicing and Reversing:
•	Create a list of numbers from 1 to 10.
•	Use list slicing to create a new list containing only the even numbers from the original list, in reverse order.

In [203]:

numbers =list(range(1, 11))

# Use list slicing to create a new list containing only the even numbers in reverse order
even_numbers_reverse = numbers[::-2]

# Print the original list of numbers
print("Original list of numbers:", numbers)

# Print the new list containing only even numbers in reverse order
print("Even numbers in reverse order:", even_numbers_reverse)

TypeError: 'list' object is not callable